body{
    overflow-x: hidden;
}
.logo{
    display: block;
    margin:0 auto;
    padding: 20px 0;
}
.FAQ{
    font-size: 3.5rem;
}
a{
    text-decoration: none !important;
    color: #ffffff
}
a:hover{
    color: #cccdce;
}
.primary-color{
    background-color: #005184;
}
.card{
    background-color: transparent;
    color: #FFFF;
    border: 1px solid white;
    margin-bottom: 5px;
    border-radius: 0;
}
.card-header{
    border-bottom: 1px solid white;
}